body {
  font-family: 'Open Sans', sans-serif;
  color: #503532; /* text color */
  background-color: #b69982; /* body bg color */
}

h1 {
  color: #6b2c39; /* header text color */
  text-align: center; /* center the header text */
}

h2 {
  color: #915969;
}

/* main wraps all of the content */
main {
  border: 3px solid #6b2c39;
  width: 80%; /* 80% of the screen */
  margin: auto; /* center the content in the body */
  background-color: white; /* content gets white bg */
  padding: 10px; /* push text away from side */
  max-width: 700px; /* dont get bigger than this */
  min-width: 400px; /* never get smaller than this */
}

iframe {
  width: 100%; /* makes video full width */
}

img {
  width: 100%; /* makes image take up full width */
}

a {
  color: #6b2c39; /* link colors */
  font-weight: bold; /* bold the link */
}

/* apply these rules when the link is hovered */
a:hover {
  background-color: #6b2c39;
  color: #b28662;
}
